parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_wp_error\(\) with int\<0, max\> will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: includes/Admin/SliderDuplicator.php
